{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Blog project</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <a class="logo" href='/'>Blog</a>    
        <ul class="menu">
            <li><a  href="/login"> Вход</a></li>
            <li><a  href="/registration"> Регистрация</a></li>
            <li><a  href="/profile"> Профиль</a></li>
        </ul>
    </header>
    <div class="data">
        <p>{{ my_data }}</p>
    </div>
</body>
</html>